<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card card-1-style">
        <div class="card-2-style">
            <form>
                <div class="icon-style">
                    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <p class="welcome-style">Ingresa al Workspace de Azban</p>

                </div>
                <div class="form-outline mb-4">
                  <input type="email" id="form2Example1" class="form-control" formControlName="email-login" required />
                  <label class="form-label" for="form2Example1">Correo</label>
                </div>
              
                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form2Example2" class="form-control" formControlName="password-login" required />
                  <label class="form-label" type="password" for="form2Example2">contraseña</label>
                </div>
              
                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                      <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                  </div>
              
                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Olvidaste la contraseña?</a>
                  </div>
                </div>
              
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Ingresa</button>
              
                <!-- Register buttons -->
               <!-- <div class="text-center">
                  <p>No eres miembro de Azban? <a href="#!">Register</a></p>
                </div>-->
            </form>
        </div>
    </div>
</div>
