.card-1-style{
    width: 400px;
    background-color:#2B2E34;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-2-style{
    align-items: center;
    padding: 20px;
}
.icon-style{
    text-align: center;
    font-weight: 500;
}
.welcome-style{
    padding: 10px;
}

.style-incorrect-m{
    color: rgb(209, 0, 0);
}

.style-button-login{
    text-align: center;
    margin-top: 20px;
}