#marginCheck{
    margin: 5px;
    text-align: right;
    background-color: #9ae1c2;
    color: black;
}
#marginCheck:hover{
    background-color: #11C777;
    color: white;
}
.card{
    margin: 5px;
    background-color: #2B2E34;
    color: white; 
    border-color: lightgrey;
}

#card-to-scroll::-webkit-scrollbar{
    display: none;
}
p{
    margin-bottom: 0px;
}
#iconPrint{
    margin-left: 20px;
}

#checkboxNoLabel{
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

#border-button{
    border-radius: 100%;
}


#check-to-print{
    padding-left: 50px!important;
}
.card-body{
    padding:15px;
}

#idOrderSize{
    font-size: xx-large;
}

.order-title-style{
    color: white;
    font-size: x-large;
    padding: 8px;
}

.button-to-print-style{
    text-align: right;
    color: white;
}