.navbar-brand{
    padding-left:50px;
    color:rgb(19, 17, 17);
    cursor: default;
}

.padding-right{
    padding-right: 0%;
}

.header-red-v{
    background-color: #2B2E34;
    padding-left: 1150px;
}

.header-red-v a{
    color: #fff;
}